##env.local
NEXT_PUBLIC_SUPABASE_URL=https://xyzeoeukvcmlelqnxeoh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5emVvZXVrdmNtbGVscW54ZW9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE1OTUyMTEsImV4cCI6MjA2NzE3MTIxMX0.96FSIBHriOpD92riU992Z469cRP5A_kE54vxnldp2QE

##page.ts

import { createClient } from '@/utils/supabase/server'
import { cookies } from 'next/headers'

export default async function Page() {
  const cookieStore = await cookies()
  const supabase = createClient(cookieStore)

  const { data: todos } = await supabase.from('todos').select()

  return (
    <ul>
      {todos?.map((todo) => (
        <li>{todo}</li>
      ))}
    </ul>
  )
}

##utils
import { createServerClient, type CookieOptions } from "@supabase/ssr";
import { cookies } from "next/headers";

const supabaseUrl = process.env.NEXT_PUBLIC_SUPABASE_URL; https://xyzeoeukvcmlelqnxeoh.supabase.co
const supabaseKey = process.env.NEXT_PUBLIC_SUPABASE_ANON_KEY; eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5emVvZXVrdmNtbGVscW54ZW9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE1OTUyMTEsImV4cCI6MjA2NzE3MTIxMX0.96FSIBHriOpD92riU992Z469cRP5A_kE54vxnldp2QE


export const createClient = (cookieStore: ReturnType<typeof cookies>) => {
  return createServerClient(
    supabaseUrl!,
    supabaseKey!,
    {
      cookies: {
        getAll() {
          return cookieStore.getAll()
        },
        setAll(cookiesToSet) {
          try {
            cookiesToSet.forEach(({ name, value, options }) => cookieStore.set(name, value, options))
          } catch {
            // The `setAll` method was called from a Server Component.
            // This can be ignored if you have middleware refreshing
            // user sessions.
          }
        },
      },
    },
  );
};

##client utils

import { createBrowserClient } from "@supabase/ssr";

const supabaseUrl = process.env.NEXT_PUBLIC_SUPABASE_URL;
const supabaseKey = process.env.NEXT_PUBLIC_SUPABASE_ANON_KEY;

export const createClient = () =>
  createBrowserClient(
    supabaseUrl!,
    supabaseKey!,
  );

import { createServerClient, type CookieOptions } from "@supabase/ssr";
import { type NextRequest, NextResponse } from "next/server";

const supabaseUrl = process.env.NEXT_PUBLIC_SUPABASE_URL; https://xyzeoeukvcmlelqnxeoh.supabase.co
const supabaseKey = process.env.NEXT_PUBLIC_SUPABASE_ANON_KEY; eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5emVvZXVrdmNtbGVscW54ZW9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE1OTUyMTEsImV4cCI6MjA2NzE3MTIxMX0.96FSIBHriOpD92riU992Z469cRP5A_kE54vxnldp2QE

export const createClient = (request: NextRequest) => {
  // Create an unmodified response
  let supabaseResponse = NextResponse.next({
    request: {
      headers: request.headers,
    },
  });

  const supabase = createServerClient(
    supabaseUrl!,
    supabaseKey!,
    {
      cookies: {
        getAll() {
          return request.cookies.getAll()
        },
        setAll(cookiesToSet) {
          cookiesToSet.forEach(({ name, value, options }) => request.cookies.set(name, value))
          supabaseResponse = NextResponse.next({
            request,
          })
          cookiesToSet.forEach(({ name, value, options }) =>
            supabaseResponse.cookies.set(name, value, options)
          )
        },
      },
    },
  );

  return supabaseResponse
};


